.app {
  font-family: Arial, sans-serif;
}

.menu {
  
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.menu li.active {
  background-color: #28d2b3;
  font-weight: bold;
}

.menu li:hover {
  background-color: #28d2b3;
}

main {
  margin-top: 20px;
  text-align: center;
}
